/* Header menu */
body{
    font-family: Cabin;
}
.conteiner{
    margin-left: 100px;
width: 1296px;
height: 100%;
}
.header-menu{
    padding: 0;
    position: fixed;
    z-index: 1;
    background-color: #10BBD5;
    height: 72px;
    width: 100%;
}
.header-top-menu{
    height: 72px;
align-items: center;
    text-align: center;
    max-width: 100%;
    display: flex;
    justify-content:space-between;

}
.logo-img{
    width: 136px;
    height: 29px;
}
.section-cart{
    display: flex;
width: 100px;
height: 40px;
align-items: center;
}
.cart{
    background-image: url(../images/cart.svg);
    width: 34px;
    height: 34px;
    background-size: cover;
    cursor: pointer;
    padding-left: 8px;
}
.balance{
    color: #F8FDFE;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
padding-right: 8px;

}
.balance-cart{
    position: relative;
    right: 18px;
    z-index: 1;
    top: -3px;
}
.header-bottom-menu{
 background-color: #fff;
 height: 32px;
}
.section-menu{
    display: flex;
    justify-content: space-between;
   align-items: center;
   padding-top: 4px;
}
.subtitle-nav-menu{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.nav-menu{
 display: flex;
 gap: 40px;
}
.nav-menu-item{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
/* Main-products */












.main-menu{
    padding-top: 104px;
    background-color: #EEEEEF;
    padding-bottom: 120px;
}
.subtitle-product{
color: #1F1F1F;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 40px;
padding-top: 32px;
}
.subtitle-product::after{
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid #A8A8A8;
    padding-top: 23px;
}
.products{
padding-top: 24px;
}
.products-menu{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.products-item{
    margin-bottom: 32px;
    border: 1px solid #000;
    width: 306px;
    height: 512px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
}
.products-img{
    margin-left: 30px;
}
.products-name{
    margin-top: 16px;
    overflow: hidden;
    color:#1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.products-name::after{
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid #A8A8A8;
}
.under-name{
    overflow: hidden;
    color: #8E8E8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.price-conteiner{
    display: flex;
}
.price{
color: #E90000;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px;
margin-top: 8px;
}
.old-price{
    color: #8E8E8E;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; 
text-decoration: line-through;
margin-left: 24px;
margin-top: 8px;
}
.button-buy{
    border-radius: 4px;
    margin-top: 8px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: #4C394E;
    border: none;
    padding: 8px 24px;
    cursor: pointer;
}
.button-buy:hover{
    background-color: #744978;
}
.button-running-out{
    border-radius: 4px;
    margin-top: 8px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: #4D762D;
    border: none;
    padding: 8px 24px;
    cursor: pointer;
}
.button-running-out:hover{
background-color: #6DB236;
}
.badge{
    position: relative;
    top: 32px;
    color: #F8FDFE;
    width: 36px;
    height: 32px;
    border-radius: 4px;
    background-color: #4200FF;
padding: 4px 8px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.badge-new{
    position: relative;
    top: 32px;
    padding: 4px 8px;
    width: 47px;
    height: 32px;
    color: #F8FDFE;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: #AF39E7;
    border-radius: 4px;
}
.sale-badge{
    padding: 4px 8px;
    position: relative;
    bottom: 441px;
    left: 40px;
    background-color: #EA33C0;
width: 68px;
    height: 32px;
    border-radius:4px ;
color: #F8FDFE;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.products-item:nth-child(4n){
    padding-top: 32px;
}
.products-item:nth-child(9){
     padding-top: 32px;
}
.products-item:nth-child(10){
    padding-top: 32px;
}
.products-item:nth-child(6n) .sale-badge{
    left: 51px;
}

.products-item:nth-child(10n) .sale-badge{
   left: -3px;
}
.products-item:nth-child(11n) .sale-badge{
    left: 51px;
}
.button-message{
background-image: url(../images/chat_icon.png);
width: 51.2px;
border-radius: 40px;
cursor: pointer;
height: 51.2px;
z-index: 1;
background-repeat: no-repeat;
background-color: #10BBD5;
position: fixed;
top: 700px;
left: 1360px;
}
.footer-menu {
    background-color:#4C394E ;

}
.copyright{
    color:  #F8FDFE;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.section-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}